a, li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 10%;
    background-color: #00000077;
    padding: 0 2%;
    border-radius: 1rem;
}

nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding: 0;
}

.name{
    font-size: 1.6em;
    font-weight: 600;
}

nav > ul > li > a:hover{
    transition: 1s;
    color: #ED1D24;
}

#active{
    color: #ED1D24;
}

nav > ul > li > a, .desc > p{
    font-size: 1.2em;
    font-weight: 500;
    transition: 1s;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12% 30%;
    padding: 1.5% 3%;
    border-radius: 1rem;
    background-color: #ED1D2477;
}

.content > h1{
    border-bottom: white 1px solid;
    padding-bottom: 5%;
}

.desc{
    line-height: 2rem;
    word-spacing: .2rem;
    margin: 0 2%;
}

.desc, .content > h1{
    text-align: center;
}



.list-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 5.4%;
    padding: 0;
    width: 90%;
}

.list-card > a > img{
    width: 300px;
    height: 400px;
    border-radius: 1rem;
    margin-bottom: 8%;
}

.list-card{
    width: 300px;
    height: 492px;
    margin: 0 1% 1% 0;
}

.list-card > a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-card > a > li{
    font-size: 1.1em;
    text-align: center;
    width: 70%;
}



.sort-nav > form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31%;
    padding: 1.2% 2%;
    background-color: #00000077;
    border-radius: 1rem;
}

.sort-nav{
    display: flex;
    justify-content: flex-end;
    margin: 0 10%;
}

.sort-nav > form > *{
    cursor: pointer;
    background-color: transparent;
    font-size: 1.2em;
    color: white;
    border: none;
}

.sort-nav > form > input{
    transition: .5s;
    border: #ed1d2434 1px solid;
}

input::placeholder{
    color: white;
}

input[type="text"]:focus{
    transition: .5s;
    border: #ED1D24 1px solid;
}

select:focus, input[type="text"]:focus{
    outline: none;
}

.sort-nav > form > select > option{
    color: #ed1d24;
}